@charset "UTF-8";


@font-face {

  font-family: 'komika';
  src: url("font/KOMIKAX_.ttf") format('truetype');
}

html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

:root {

  --komika: 'komika';
}




main {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;

  width: 80vw;
  height: 98vh;

  margin: auto;
}

form {
  display: block;
}

.formularios { 
}


.preview {
  width: 40vw;
  height: 50vw;
  background-color: #eecece;
  max-height: 97lvh;
}

pre {
  color: white;
  background-color: #3b3b3b;
  margin: 0;
  padding: 5px;
  font-weight: lighter;
  font-family: var(--komika);
  font-size: 1em;
}

#imagem {

  
  background-image: url(image/size.png);
  width: 70%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  
  
  
}


#flex {
  width: 100%;   /* width: 496px; height: 700px;*/
  height: 40vw;
  border: 3px solid #000000;
  background-color: #ffffff00; 

  background-size: contain;

  position: relative;
  top: 32px;

  display: flex;
  justify-content: flex-end;
  align-items: ;
  flex-direction: column;
}

.espaco1 {
  height: 11%;
  background-color: #ffffff00;
}

.campanha {
  height: 15%;

  text-align: center;
  padding: 4px;
  color: white;
  background-color: #FA4D09;
  text-transform: uppercase;
  font-family: var(--font1);
  font-weight: bolder;
  font-style: normal;
  font-size: 4vw;
  

  display: flex;
  justify-content: center;
  align-items: center;
}

.descricaoprincipal {
  height: 20%;

  color: black;
  background-color: #ff0000;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: var(--komika);

  display: flex;
  justify-content: center;
  align-items: end;

}

.marca {
  height: 15%;

  text-align: center;
  color: black;
  background-color: #00ff00;
  font-weight: bolder;
  font-style: normal;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-family: var(--komika);

  display: flex;
  justify-content: center;
  align-items: center;
}

.descricaosec {
  height: 7%;

  text-align: center;
  color: black;
  background-color: #0000ff;
  font-weight: bolder;
  font-style: normal;
  font-size: 1vw;
  text-transform: uppercase;
  font-family: var(--komika);

  display: flex;
  justify-content: center;
  align-items: center;

}

.preco {
  height: 39%;
  
  padding-bottom: 30px;
  text-align: center;
  color: white;
  background-color: #ff00ff;
  font-weight: bolder;
  font-style: normal;
  text-transform: uppercase;
  font-family: var(--komika);

  background-size: cover;

  font-size: 7vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.normal {
  font-size: 800%;
  position: relative;
  left: -9%;
}

.centavos {
  font-size: 500%;
  position: relative;
  left: -7%;
  top: 90%;
}
*/

.espaco {
  height: 12%;
  background-color: #ffffff00;
}

.descricaosec2 {
  height: 7%;

  text-align: center;
  color: black;
  background-color: #ffff00;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.2vw;
  text-transform: uppercase;
  font-family: var(--komika);

  display: flex;
  justify-content: center;
  align-items: center;
  

}

.embalagem{
  height: 6%;

  text-align: center;
  color: black;
  background-color: #00ffff;
  font-weight: bolder;
  font-style: normal;
  font-size: 1vw;
  text-transform: uppercase;
  padding-bottom: 8px;
  font-family: var(--komika);

  display: flex;
  justify-content: center;
  align-items: center;

}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button {
  display: inline-block;
}
